/*CSS reset settings here*/
*{
 margin: 10px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 20px;
 padding:20px;
}
#header{
 height: 150px;
 background-color: green;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 display:inline-block;
 vertical-align:top;
}
#main_content{
 height: 400px;
 width: 700px;
 background-color: red;
 display:inline-block;

}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 margin:15px 5px;
 padding:5px;
 display:inline-block;
}
#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;

}
